<p>What candy do you have?</p>

<ul>
  <% @candies.each do |candy| %>
    <li><%= candy %></li>
  <% end %>
</ul>

<hr>

<ul>
  <% @people.each do |person| %>
    <li>
      <%= person %>
      <dl>
        <% person.preferences.each do |preference| %>
          <dt><%= preference.type %></dt>
          <dd><%= preference.candy %></dd>
        <% end %>
      </dl>
    </li>
  <% end %>
</ul>
