<p>What candy do you have?</p>

<ul>
  <% @candies.each do |candy| %>
    <li><%= candy %></li>
  <% end %>
</ul>

<hr>

<ul>
  <% @people.each do |person| %>
    <li>
      <%= person %>:
      <%= person.preferences_summary %>
    </li>
  <% end %>
</ul>
