<% content_for :title do %>
  <li><%= link_to "Candies (#{number_with_delimiter @candies.count, delimiter: ','})", candies_path %></li>
<% end %>
<% title 'Candies' %>

<div class="row candies-lists-container">
  <% @candies.each_slice(@candies.count / 3.0) do |candies_slice| %>
    <div class="col l3 m4 s6">
      <ul class="candies-list">
        <% candies_slice.each do |candy| %>
          <li>
            <%= link_to candy, candy_path(candy) %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>

<div class="row">
  <form class="add-candy col s12">
    <div class="row">
      <div class="input-field col s6">
        <i class="material-icons prefix">add</i>
        <input type="text" id="new-candy-name" placeholder="Candy name">
        <label for="new-candy-name">Add candy</label>
      </div>
    </div>
  </form>
</div>
