<% content_for :title do %>
  <li><%= link_to 'Candies', candies_path %></li>
<% end %>

<p id="add-candy-error" class="alert deep-orange lighten-3" style="display: none"></p>

<p class="candies-list"><%= @candies_list %></p>

<div class="row">
  <form class="add-candy col s12">
    <div class="row">
      <div class="input-field col s6">
        <i class="material-icons prefix">add</i>
        <input type="text" id="new-candy-name" placeholder="Add candy">
        <label for="new-candy-name">Candy</label>
      </div>
    </div>
  </form>
</div>
