<% content_for :title do %>
  <li><%= link_to 'Trends', trends_candies_path %></li>
<% end %>

<h3>Most Popular Candies</h3>
<ol>
  <% @popular_candies.each do |candy| %>
    <li><%= candy %></li>
  <% end %>
</ol>

<hr>

<h3>Most Disliked Candies</h3>
<ol>
  <% @disliked_candies.each do |candy| %>
    <li><%= candy %></li>
  <% end %>
</ol>
