<% content_for :title do %>
  <li><%= link_to 'Home', root_path %></li>
<% end %>

<% @favored_by_one.each do |person, candies| %>
  <p>
    Give all the <strong><%= candies.to_sentence %></strong> to
    <strong><%= person %></strong>.
  </p>
<% end %>

<% if @favored_by_none.count > 0 %>
  <p>
    Throw away all the <strong><%= @favored_by_none.to_sentence %></strong>.
  </p>
<% end %>

<p>More analysis coming soon...</p>

<!--
Give all the 3 Musketeers to Lindsay.

Divide the Twix and PixyStix between Summer and Sarah.

Throw the Circus Peanuts in the Trash.
-->
