@import "materialize";
@import "preferences";
@import "people";

.title-area h1 {
  margin: 0;
  padding: 2.1rem 0 1.68rem 0;
}

.alert, .notice {
  padding: 1.68rem;
  border-radius: 2px;
}

nav ul.left a {
  display: inline;
}
