@import "materialize";
@import "preferences";
@import "people";
@import "candies";
@import "home";

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.main-content {
  padding-top: 15px;

  a, a:link, a:visited, a:active {
    color: #ff6f00;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -ms-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
  }

  a:hover, a:focus {
    color: #e65100;
  }

  h3 {
    font-size: 1.64rem;
    line-height: 110%;
    margin: 0.82rem 0 0.656rem 0;
  }
}

.title-area {
  padding: 25px 0;

  h1 img {
    display: inline-block;
    vertical-align: middle;
    height: 75px;
  }

  h1, h2 {
    display: inline-block;
    margin: 0;
  }

  h2 {
    font-size: 1.3rem;
    line-height: 110%;
  }
}

.alert, .notice {
  padding: 10px 15px;
  border-radius: 2px;
}

nav ul.left a {
  display: inline;
}

nav ul a {
  &:hover, &:focus {
    text-decoration: underline;
  }
}

.footer {
  padding: 15px 0;
  margin-top: 45px;

  ul {
    margin: 0;

    li {
      display: inline-block;

      & + li {
        margin-left: 3em;
      }
    }
  }
}

hr {
  border: none;
  border-top: 1px solid #e65100;
  margin-top: 30px;
  margin-bottom: 30px;
}

.field_with_errors {
  display: inline;

  label {
    color: #d50000;
  }
}

#error_explanation {
  color: #d50000;

  h2 {
    font-size: 1rem;
    font-weight: 700;
  }
}
