a.remove-candy {
  &:hover, &:focus {
    text-decoration: line-through;
  }
}

.selection-form {
  label.inline {
  }

  input[type="number"].inline {
  }
}

@media (min-width: 768px) {
  .selection-form {
    label.inline {
      float: left;
      width: 7em;
      overflow: hidden;
      clear: left;
      text-align: right;
      text-overflow: ellipsis;
      line-height: 1.5rem;
      white-space: nowrap;
    }

    input[type="number"].inline {
      display: inline-block;
      width: 4em;
      margin-left: 0.3em;
      margin-bottom: 5px;
      line-height: 1.5rem;
      height: 1.5rem;
      text-align: center;
    }
  }
}
