a.remove-candy {
  &:hover, &:focus {
    text-decoration: line-through;
  }
}

.main-content {
  ol + h3, ol + p {
    margin-top: 2.46rem;
  }
}

.candies-list {
  li {
    padding-left: 0;
    white-space: nowrap;

    a {
      padding: 0.1em 0.2em;
      border-radius: 2px;
      -webkit-transition: background-color 0.25s ease-in-out;
      -moz-transition: background-color 0.25s ease-in-out;
      -ms-transition: background-color 0.25s ease-in-out;
      -o-transition: background-color 0.25s ease-in-out;
      transition: background-color 0.25s ease-in-out;

      &.highlight {
        background-color: #ffecb3;
      }
    }
  }
}

form.delete-candy {
  input[type="submit"].btn {
    height: 2rem;
    line-height: 2rem;
    padding: 0 1rem;
    font-size: 0.9rem;
  }
}
